:root {
    --color-fondo: #222;
    --color-fondo-tarjetas: #333;
    --color-texto: #ffffff;
    --color-enlace: white;
    --color-enlace-section: green;
    --color-hover: orange;
    --color-visitado: pink;
    --fuente-principal: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-principal);
    font-size: 16px;
    margin: 30px;
}

ul {
    list-style: none;
}

a {
    color: var(--color-enlace);
}

section a {
    color: var(--color-enlace-section);
}

section a:hover {
    color: var(--color-hover);
    text-decoration: underline overline;
}

section a:visited {
    color: var(--color-visitado);
}

nav ul li a:hover {
    color: var(--color-hover);
}

.grande::first-letter {
    font-size: 32px;
}

h1 {
    text-transform: capitalize;
    font-size: 30px;
}

h2 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
}

p {
    text-align: justify;
}

#articulos {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

#articulos article {
    background-color: var(--color-fondo-tarjetas);
    padding: 20px;
    border-radius: 8px;
}

img {
    transition: transform 1s ease;
}

img:hover{
    transform: scale(1.1);
}

@media (max-width: 600px) {

    p {
        font-size: 14px;
        color: purple;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (min-width: 600px) and (max-width: 1280px) {

    p {
        font-size: 16px;
        color: red;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}

@media (min-width: 1280px) {

    p {
        font-size: 18px;
        color: cyan;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }
}

