body {
    background-color: #222;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 30px;
}

ul {
    list-style: none;
}

a {
    color: white
}

section a {
    color: white;
}

section a:hover {
    color: orange;
    text-decoration: underline overline;
}

section a:visited {
    color: pink;
}

nav ul li a:hover {
    color: orange;
}

